
body, html {
  height: 100%;
}
body {
  font-family:Verdana;
  min-height:100%; 
  display: flex;
  flex-direction: column;
}

.body-top {
  border: none;
  margin: auto;
  font-family:Verdana;
  font-style: normal;
  font-size: normal;
  font-weight:bold;
}
header {
  padding: 1em;
  color: white;
  background-color: #007196;
  vertical-align:center;
  text-align:center;	
}
#logo {
  max-width:180px;
  max-height:140px;
}
main {
  flex: 1 0 auto;
  margin: 25px 0;
}
.footer { 
  color:white;
  background-color: #007196;
  text-align: center;
  flex-shrink: 0;
}
.footer-text {
	padding: 15px;
}

.col-9 {
  display: flex;
}
h1{
  margin:auto;
}	
#top-text {
  color: #66CDAA;
}

@media screen and (max-width: 768px) {
  #logo {
     max-width:100px;
     max-height:70px;
  }
  h1{
     font-size:14px;
  }
}

#menu {
  background-color:#66CDAA;
}
a {
  color:white;
  border:solid white;
  box-shadow: 20px 0 20px -20px #000 inset, -20px 0 20px -20px #000 inset;
}


/* ************* */
/* Main Page */
.tour-main {
	border: solid #007196;
  text-align:center;	
}
.tour-main img {
	width:250px;
	height:170px;
	padding:5px;
}
.tour-main a {
	background-color:#66CDAA;
	box-shadow: 20px 0 20px -20px #000 inset, -20px 0 20px -20px #000 inset;
	color:white;
}


/* ************* */
/* tours.html */
table#tours {
	width:80%;
	margin:auto;
}	
table#tours td {
	text-align: left;
	border: 2px solid red;
}


/* ************* */
/* contacts.html*/
table#form td {
	text-align: left;
	border: 2px solid red;
}

